# Ignore virtual environment
venv/

# Byte-compiled files
__pycache__/
*.py[cod]

# Environment variables file
.env

# Docker-related files
*.log
*.pid
*.bak
*.swp

# Ignore Docker cache files
docker-compose.override.yml